@import '@extension/ui/global.css';

html,
body {
  width: 300px;
  background-color: var(--bg-primary);
}

#app-container {
  display: flex;
}

.App {
  @apply h-full flex-1;
  padding: 10px;
  color: var(--text-primary);
}
