@import '@extension/ui/global.css';

html {
  overflow-y: scroll !important;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding-right: 0 !important; /* https://github.com/tailwindlabs/headlessui/issues/762 */
}

body:not(.inline) .App {
  @apply mx-auto max-w-5xl px-6;
}

h1 {
  @apply mb-4 text-2xl font-bold;
}
h2 {
  @apply mb-2 text-lg font-semibold;
}
