@import '@extension/ui/global.css';

html {
  overflow-y: scroll !important;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding-right: 0 !important; /* https://github.com/tailwindlabs/headlessui/issues/762 */
}

body:not(.inline) .App {
  @apply mx-auto max-w-5xl;
}

h1 {
  @apply mb-4 text-2xl font-bold;
}
h2 {
  @apply mb-2 text-lg font-semibold;
}
h3 {
  @apply mb-2 text-base font-semibold;
}
h4,
h5,
h6 {
  @apply mb-2 font-medium;
}
ul {
  @apply ml-4 list-disc [&_li_li]:ml-4 [&_li_li]:list-[circle];
}
