# Logs
logs
*.log

node_modules
.output
stats.html
stats-*.json
.wxt
web-ext.config.ts
test-results/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
