@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App.light {
  --text-primary: var(--color-gray-900);
  --text-secondary: var(--color-gray-700);
  --bg-primary: var(--color-slate-50);
  --bg-secondary: var(--color-white);
  --bg-button: var(--color-gray-200);
  --border-primary: var(--color-gray-300);
  --border-secondary: var(--color-gray-200);
  --border-button: var(--color-gray-400);
  --icon-primary: var(--color-gray-800);
}
.App.dark {
  --text-primary: var(--color-gray-100);
  --text-secondary: var(--color-gray-300);
  --bg-primary: var(--color-gray-800);
  --bg-secondary: var(--color-gray-700);
  --bg-button: var(--color-gray-600);
  --border-primary: var(--color-gray-600);
  --border-secondary: var(--color-gray-500);
  --border-button: var(--color-gray-400);
  --icon-primary: var(--color-gray-100);
}

/* Utility classes */
.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.bg-primary {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-button {
  background-color: var(--bg-button);
}

.border-primary {
  border-color: var(--border-primary);
}
.border-secondary {
  border-color: var(--border-secondary);
}
.border-button {
  border-color: var(--border-button);
}

/* Element styles */
a:not(button a) {
  color: var(--color-blue-600);
  text-decoration: underline;
}
.App.dark a:not(button a) {
  color: var(--color-blue-400);
}
button {
  cursor: pointer;
}
