@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

body {
  margin: 0;
  padding: 0;
  /* Chrome sets `font-size: 75%` as the default style for extension pages, so we need to override it to 16px */
  font-size: 16px;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-theme='light'] {
  --text-primary: var(--color-gray-900);
  --text-secondary: var(--color-gray-700);
  --text-accent: var(--color-blue-600);
  --bg-primary: var(--color-slate-50);
  --bg-secondary: var(--color-white);
  --bg-button: var(--color-white);
  --bg-button-secondary: var(--color-gray-100);
  --border-primary: var(--color-gray-300);
  --border-secondary: var(--color-gray-200);
  --border-button: var(--color-gray-500);
}
html[data-theme='dark'] {
  --text-primary: var(--color-gray-100);
  --text-secondary: var(--color-gray-300);
  --text-accent: var(--color-blue-400);
  --bg-primary: var(--color-gray-900);
  --bg-secondary: var(--color-gray-800);
  --bg-button: var(--color-gray-600);
  --bg-button-secondary: var(--color-gray-700);
  --border-primary: var(--color-gray-600);
  --border-secondary: var(--color-gray-500);
  --border-button: var(--color-gray-500);
}

/* Utility classes */
.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-accent {
  color: var(--text-accent);
}
.bg-primary {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-button {
  background-color: var(--bg-button);
}

.border-primary {
  border-color: var(--border-primary);
}
.border-secondary {
  border-color: var(--border-secondary);
}
.border-button {
  border-color: var(--border-button);
}

/* Element styles */
a:not(:is(button a, .default)) {
  color: var(--color-blue-600);
  text-decoration: underline;
}
html[data-theme='dark'] a:not(:is(button a, .default)) {
  color: var(--color-blue-400);
}

code {
  @apply rounded p-1 font-mono text-xs;
  border: 1px solid var(--border-primary);
  background-color: var(--bg-secondary);
}

label {
  @apply cursor-pointer;
}
input,
select,
textarea,
.form-control {
  @apply max-w-72 flex-1 rounded border p-2 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  border-color: var(--border-primary);
}
.input-full :is(input, select, textarea, .form-control) {
  @apply w-full max-w-none;
}
input[type='range'] {
  padding: 0;
}
button {
  @apply flex-shrink-0 cursor-pointer rounded px-4 py-2 font-medium focus:ring-0 focus:outline-none disabled:cursor-not-allowed disabled:opacity-50;
  color: var(--text-primary);
  background-color: var(--bg-button);
  border: 1px solid var(--border-button);
}
button:hover:not(:disabled) {
  @apply transition-colors duration-150 ease-in-out;
  background-color: var(--bg-button-secondary);
}
.button-bg-blue {
  --bg-button: var(--color-blue-600);
  --border-button: var(--color-blue-600);
  @apply text-white;
}
.button-bg-blue:hover:not(:disabled) {
  --bg-button-secondary: var(--color-blue-700);
}
.button-bg-red {
  --bg-button: var(--color-red-600);
  --border-button: var(--color-red-800);
  @apply text-white;
}
.button-bg-red:hover:not(:disabled) {
  --bg-button-secondary: var(--color-red-700);
}
.button-bg-blue:disabled {
  --bg-button: var(--color-blue-300);
}
