@import '../options/Options.css';

h2 {
  margin: 0.5em 0;
}

/* Chat message styles */
#items {
  @apply border border-gray-700;
}
yt-live-chat-text-message-renderer {
  @apply p-1;
  display: block;
  line-height: 1.4;
}
yt-live-chat-text-message-renderer.auto-message {
  @apply bg-blue-100;
}
.dark yt-live-chat-text-message-renderer.auto-message {
  @apply bg-blue-950;
}
#author-name {
  @apply mr-1 font-semibold text-blue-700;
}
.dark #author-name {
  @apply text-blue-300;
}

/* Mode toggle styles */
.mode-toggle {
  display: inline-block;
  text-align: center;
  width: 4em;
  cursor: pointer;
  text-decoration: underline;
}
.mode-toggle.manual {
  @apply text-blue-600;
}
.mode-toggle.auto {
  @apply text-green-600;
}

/* Auto mode overrides */
body[data-auto-mode='true'] .mode-toggle.manual {
  display: none;
}
body[data-auto-mode='false'] .mode-toggle.auto {
  display: none;
}
